<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Tutorial</title>
    <link rel="stylesheet" href="public/styles.css">
</head>

<body>
    <section id="timer-text">1:00</section>
    <section id="text-box">
        <div id="test-box-text">

        </div>
    </section>

    <form>
        <input type="text" id="write-box" />
    </form>

    <section id="score">
        <p>You Scored:</p>
        <p id="score-wpm">60WPM</p>
    </section>

<!-- Script Do not Touch -->
    <script src="testBox.js"></script>
    <script src="timer.js"></script>
</body>
</html>
